:root {
  font: 14px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header.test {
  padding-top: 5px;

  margin-top: 0;
}
.test {
  background-image: url(./components/mainbackground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 45vh;
}
.bourbon {
  padding-top: 0rem;
  margin: 0;
}
.bourbon h2 {
  margin-bottom: 0rem;
}
.bourbon li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  padding-top: 0rem;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

main.home {
  background-image: url(./components/background.png);
  background-size: contain;
  padding-right: 1rem;
  padding-bottom: 5rem;
}

main h1 {
  // padding-top: 0;
  // margin-top: 0;
  // margin-bottom: 0rem;
  // padding-bottom: 0rem;
}
.top {
  padding-top: 5rem;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 1rem;
  padding-top: 10.5rem;
  padding-left: 1rem;
}
p {
  color: white;
}
main.tequila {
  background-image: url(./components/background.png);
  background-size: contain;
  padding-right: 1rem;
  padding-bottom: 5rem;
}
.topofdrinks {
  padding-bottom: 0rem;
}
li .cocktail {
  color: black;
}
.cocktail {
  font-size: 16px;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 380px) {
  .test {
    background-image: url(./components/mainbackground.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 55vh;
  }
}
